--
-- PostgreSQL database dump
--

\restrict 3vtA0a2G3W1J7oN5CNGtDztYlLbEsTsUlfDfP0poXPqXLOyb8Gl0G78mdRoL6Uu

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: medicines; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.medicines (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    unit character varying(20),
    price numeric(12,2) NOT NULL,
    stock integer DEFAULT 0 NOT NULL,
    min_stock integer DEFAULT 10 NOT NULL,
    expiry_date date NOT NULL,
    status character varying(20) DEFAULT 'ACTIVE'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.medicines OWNER TO postgres;

--
-- Name: medicines_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.medicines_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.medicines_id_seq OWNER TO postgres;

--
-- Name: medicines_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.medicines_id_seq OWNED BY public.medicines.id;


--
-- Name: patients; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.patients (
    id integer NOT NULL,
    full_name character varying(100) NOT NULL,
    phone character varying(20),
    address text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.patients OWNER TO postgres;

--
-- Name: patients_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.patients_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.patients_id_seq OWNER TO postgres;

--
-- Name: patients_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.patients_id_seq OWNED BY public.patients.id;


--
-- Name: medicines id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.medicines ALTER COLUMN id SET DEFAULT nextval('public.medicines_id_seq'::regclass);


--
-- Name: patients id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.patients ALTER COLUMN id SET DEFAULT nextval('public.patients_id_seq'::regclass);


--
-- Data for Name: medicines; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.medicines (id, name, unit, price, stock, min_stock, expiry_date, status, created_at, updated_at) FROM stdin;
2	Paracetamol	tablet	5000.00	100	20	2025-12-31	active	2025-11-14 15:03:07.084098	2025-11-14 15:03:07.084098
3	Batugin	Botol	45000.00	100	10	2025-11-28	active	2025-11-14 15:07:30.239414	2025-11-14 15:07:30.239414
4	Fituno	Tablet	10000.00	50	10	2025-12-31	inactive	2025-11-14 15:19:27.553243	2025-11-14 15:19:27.553243
5	Imboost	Kaplet	50000.00	1	10	2025-11-21	active	2025-11-14 15:20:22.21409	2025-11-14 15:20:22.21409
\.


--
-- Data for Name: patients; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.patients (id, full_name, phone, address, created_at, updated_at) FROM stdin;
1	Erfan	62-549-999-9999	Jakarta	2025-11-14 14:52:29.05963	2025-11-14 14:52:29.05963
2	Muhamad	62-598-986-9874	Jakarta Pusat	2025-11-14 14:53:26.218309	2025-11-14 14:53:26.218309
3	Arif	62-565-656-6656	Jakarta	2025-11-14 15:20:54.247587	2025-11-14 15:20:54.247587
\.


--
-- Name: medicines_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.medicines_id_seq', 5, true);


--
-- Name: patients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.patients_id_seq', 3, true);


--
-- Name: medicines medicines_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.medicines
    ADD CONSTRAINT medicines_pkey PRIMARY KEY (id);


--
-- Name: patients patients_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patients_pkey PRIMARY KEY (id);


--
-- Name: idx_medicines_expiry_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_medicines_expiry_date ON public.medicines USING btree (expiry_date);


--
-- Name: idx_medicines_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_medicines_status ON public.medicines USING btree (status);


--
-- Name: idx_medicines_stock; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_medicines_stock ON public.medicines USING btree (stock, min_stock);


--
-- Name: idx_patients_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_patients_name ON public.patients USING btree (full_name);


--
-- PostgreSQL database dump complete
--

\unrestrict 3vtA0a2G3W1J7oN5CNGtDztYlLbEsTsUlfDfP0poXPqXLOyb8Gl0G78mdRoL6Uu

